name: BUILD TEST

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:
  build-and-test:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      with:
    - name: Set Up Actions
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 10.0.x
    - name: Restore Dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore